a {
    color:white;
    text-decoration: none;
   }

.project {
    transition: all .5s ease-in-out;
    transform: translateZ(0);
}

.project:hover {
    box-shadow: 0 0 20px blue;
    transition: all .3s ease-in-out; 
    transform: scale(1.05); 
    
}

#profile {
    box-shadow: 0 8px 6px -6px black;
  }

.img-fluid {
    box-shadow: 0 8px 6px -6px black;
}

#info {
    font-family: 'Raleway', sans-serif;
}

.header{ 
    background-color: whitesmoke;
}

.connect {
    font-family: 'Raleway', sans-serif;
}

.title {
    font-family: 'Amatic SC', cursive;

}

.description {
    font-family: 'Amatic SC', cursive;
    font-weight: 700
}

.section-right-fact {
    height: 12vh;
    background-color: #5d45e4;
    font-family: 'Gaegu', cursive;
}

.section-left-fact {
    height: 12vh;
    background-color: #0052c4;
    font-family: 'Gaegu', cursive;
}

.section-right-3 {
    height: 15vh;
    background-color: #5d45e4;
    font-family: 'Gaegu', cursive;
}

.section-left-project{ 
    height: 70vh;
    background-color: white;
}

.section-right-project{ 
    background-color: whitesmoke;
    height: 70vh;
    
}

.footer {
    height: 10vh;
    background-color: #513cc5;
    font-family: 'Gaegu', cursive;
}


h2 {
    font-size: 4.5vh
}

h3 {
    font-size: 3vh
}

h4 {
    font-size: 2.5vh
}

h5 {
    font-size: 2.5vh
}

